##### Objective is to develop a python script that filters and organises date based on specific criteria

Output: filter data by age, name or other characteristic

Requirements:
- Use dictionary, list or set
- Implement functions that filter data
- Accompanying readme file

In [8]:
# import pandas
import pandas as pd

In [12]:
# Simple dataset to use

data = [
    {"name": "John", "age": 30, "gender": "Male", "occupation": "Engineer", "city": "New York", "education": "Bachelor's Degree", "income": 80000, "marital_status": "Married", "children": 2, "pets": "Dog", "hobbies": ["Reading", "Traveling"], "height": 180, "weight": 75, "ethnicity": "Caucasian", "religion": "Christianity", "nationality": "American", "languages": ["English", "Spanish"], "political_affiliation": "Independent", "favorite_food": "Pizza", "favorite_color": "Blue"},
    {"name": "Alice", "age": 25, "gender": "Female", "occupation": "Doctor", "city": "Los Angeles", "education": "Doctorate", "income": 120000, "marital_status": "Single", "children": 0, "pets": "Cat", "hobbies": ["Hiking", "Painting"], "height": 165, "weight": 55, "ethnicity": "Asian", "religion": "Buddhism", "nationality": "American", "languages": ["English", "Chinese"], "political_affiliation": "Liberal", "favorite_food": "Sushi", "favorite_color": "Purple"},
    {"name": "Mohammed", "age": 35, "gender": "Male", "occupation": "Software Engineer", "city": "Dubai", "education": "Master's Degree", "income": 100000, "marital_status": "Married", "children": 1, "pets": "None", "hobbies": ["Football", "Photography"], "height": 175, "weight": 80, "ethnicity": "Middle Eastern", "religion": "Islam", "nationality": "Emirati", "languages": ["Arabic", "English"], "political_affiliation": "Conservative", "favorite_food": "Hummus", "favorite_color": "Green"},
    {"name": "Sofia", "age": 28, "gender": "Female", "occupation": "Architect", "city": "Barcelona", "education": "Bachelor's Degree", "income": 70000, "marital_status": "Single", "children": 0, "pets": "None", "hobbies": ["Drawing", "Singing"], "height": 170, "weight": 60, "ethnicity": "Hispanic", "religion": "Atheist", "nationality": "Spanish", "languages": ["Spanish", "English"], "political_affiliation": "Liberal", "favorite_food": "Paella", "favorite_color": "Yellow"},
    {"name": "David", "age": 40, "gender": "Male", "occupation": "Lawyer", "city": "London", "education": "Master's Degree", "income": 90000, "marital_status": "Married", "children": 3, "pets": "Dog", "hobbies": ["Golf", "Cooking"], "height": 185, "weight": 85, "ethnicity": "Caucasian", "religion": "Judaism", "nationality": "British", "languages": ["English", "Hebrew"], "political_affiliation": "Moderate", "favorite_food": "Fish and Chips", "favorite_color": "Red"},
    {"name": "Aisha", "age": 22, "gender": "Female", "occupation": "Student", "city": "Mumbai", "education": "Bachelor's Degree", "income": 20000, "marital_status": "Single", "children": 0, "pets": "None", "hobbies": ["Dancing", "Reading"], "height": 160, "weight": 50, "ethnicity": "Indian", "religion": "Hinduism", "nationality": "Indian", "languages": ["Hindi", "English"], "political_affiliation": "Liberal", "favorite_food": "Curry", "favorite_color": "Orange"},
    {"name": "Nadia", "age": 45, "gender": "Female", "occupation": "Professor", "city": "Paris", "education": "PhD", "income": 110000, "marital_status": "Divorced", "children": 2, "pets": "Cat", "hobbies": ["Writing", "Cycling"], "height": 170, "weight": 65, "ethnicity": "Caucasian", "religion": "Agnostic", "nationality": "French", "languages": ["French", "English"], "political_affiliation": "Progressive", "favorite_food": "Croissant", "favorite_color": "Pink"},
    {"name": "Ali", "age": 33, "gender": "Male", "occupation": "Entrepreneur", "city": "Dubai", "education": "Bachelor's Degree", "income": 150000, "marital_status": "Married", "children": 2, "pets": "Dog", "hobbies": ["Skiing", "Gaming"], "height": 180, "weight": 85, "ethnicity": "Middle Eastern", "religion": "Islam", "nationality": "Emirati", "languages": ["Arabic", "English"], "political_affiliation": "Conservative", "favorite_food": "Shawarma", "favorite_color": "Black"},
    {"name": "Yuki", "age": 31, "gender": "Female", "occupation": "Engineer", "city": "Tokyo", "education": "Master's Degree", "income": 90000, "marital_status": "Married", "children": 1, "pets": "None", "hobbies": ["Karate", "Cooking"], "height": 165, "weight": 55, "ethnicity": "Asian", "religion": "Shintoism", "nationality": "Japanese", "languages": ["Japanese", "English"], "political_affiliation": "Liberal", "favorite_food": "Sushi", "favorite_color": "Purple"},
    {"name": "Miguel", "age": 29, "gender": "Male", "occupation": "Designer", "city": "Mexico City", "education": "Bachelor's Degree", "income": 60000, "marital_status": "Single", "children": 0, "pets": "None", "hobbies": ["Drawing", "Traveling"], "height": 175, "weight": 70, "ethnicity": "Hispanic", "religion": "Catholicism", "nationality": "Mexican", "languages": ["Spanish", "English"], "political_affiliation": "Moderate", "favorite_food": "Tacos", "favorite_color": "Green"},
    {"name": "Sakura", "age": 27, "gender": "Female", "occupation": "Nurse", "city": "Tokyo", "education": "Bachelor's Degree", "income": 50000, "marital_status": "Single", "children": 0, "pets": "Cat", "hobbies": ["Gardening", "Reading"], "height": 160, "weight": 50, "ethnicity": "Asian", "religion": "Buddhism", "nationality": "Japanese", "languages": ["Japanese", "English"], "political_affiliation": "Liberal", "favorite_food": "Ramen", "favorite_color": "Blue"},
    {"name": "Elena", "age": 38, "gender": "Female", "occupation": "Accountant", "city": "Madrid", "education": "Bachelor's Degree", "income": 80000, "marital_status": "Married", "children": 2, "pets": "Dog", "hobbies": ["Running", "Painting"], "height": 170, "weight": 65, "ethnicity": "Hispanic", "religion": "Christianity", "nationality": "Spanish", "languages": ["Spanish", "English"], "political_affiliation": "Conservative", "favorite_food": "Tapas", "favorite_color": "Red"},
    {"name": "Andrea", "age": 24, "gender": "Female", "occupation": "Teacher", "city": "Rome", "education": "Bachelor's Degree", "income": 45000, "marital_status": "Single", "children": 0, "pets": "Dog", "hobbies": ["Singing", "Travelling"], "height": 160, "weight": 55, "ethnicity": "Caucasian", "religion": "Atheist", "nationality": "Italian", "languages": ["Italian", "English"], "political_affiliation": "Liberal", "favorite_food": "Pasta", "favorite_color": "Yellow"},
    {"name": "Carlos", "age": 32, "gender": "Male", "occupation": "Chef", "city": "Madrid", "education": "Bachelor's Degree", "income": 70000, "marital_status": "Married", "children": 1, "pets": "Cat", "hobbies": ["Cooking", "Playing Guitar"], "height": 175, "weight": 75, "ethnicity": "Hispanic", "religion": "Catholicism", "nationality": "Spanish", "languages": ["Spanish", "English"], "political_affiliation": "Conservative", "favorite_food": "Paella", "favorite_color": "Orange"},
    {"name": "Ravi", "age": 35, "gender": "Male", "occupation": "Business Analyst", "city": "Bangalore", "education": "Master's Degree", "income": 95000, "marital_status": "Married", "children": 2, "pets": "Dog", "hobbies": ["Cricket", "Reading"], "height": 175, "weight": 80, "ethnicity": "Indian", "religion": "Hinduism", "nationality": "Indian", "languages": ["Hindi", "English"], "political_affiliation": "Moderate", "favorite_food": "Biryani", "favorite_color": "Green"},
    {"name": "Maria", "age": 30, "gender": "Female", "occupation": "Marketing Manager", "city": "New York", "education": "Master's Degree", "income": 110000, "marital_status": "Single", "children": 0, "pets": "Cat", "hobbies": ["Yoga", "Traveling"], "height": 165, "weight": 60, "ethnicity": "Caucasian", "religion": "Atheist", "nationality": "American", "languages": ["English", "Spanish"], "political_affiliation": "Liberal", "favorite_food": "Tacos", "favorite_color": "Blue"},
    {"name": "Chen", "age": 28, "gender": "Male", "occupation": "Financial Analyst", "city": "Shanghai", "education": "Bachelor's Degree", "income": 80000, "marital_status": "Single", "children": 0, "pets": "None", "hobbies": ["Photography", "Swimming"], "height": 180, "weight": 75, "ethnicity": "Asian", "religion": "Buddhism", "nationality": "Chinese", "languages": ["Mandarin", "English"], "political_affiliation": "Liberal", "favorite_food": "Dumplings", "favorite_color": "Red"},
    {"name": "Anna", "age": 33, "gender": "Female", "occupation": "Journalist", "city": "London", "education": "Bachelor's Degree", "income": 75000, "marital_status": "Single", "children": 0, "pets": "Dog", "hobbies": ["Writing", "Hiking"], "height": 170, "weight": 65, "ethnicity": "Caucasian", "religion": "Agnostic", "nationality": "British", "languages": ["English", "French"], "political_affiliation": "Liberal", "favorite_food": "Fish and Chips", "favorite_color": "Yellow"},
    {"name": "Ahmed", "age": 37, "gender": "Male", "occupation": "Doctor", "city": "Cairo", "education": "Doctorate", "income": 120000, "marital_status": "Married", "children": 3, "pets": "Cat", "hobbies": ["Football", "Painting"], "height": 175, "weight": 75, "ethnicity": "Middle Eastern", "religion": "Islam", "nationality": "Egyptian", "languages": ["Arabic", "English"], "political_affiliation": "Conservative", "favorite_food": "Kebab", "favorite_color": "Green"},
    {"name": "Yasmin", "age": 29, "gender": "Female", "occupation": "Software Engineer", "city": "Bangalore", "education": "Master's Degree", "income": 90000, "marital_status": "Single", "children": 0, "pets": "Dog", "hobbies": ["Reading", "Cooking"], "height": 160, "weight": 55, "ethnicity": "Indian", "religion": "Hinduism", "nationality": "Indian", "languages": ["English", "Hindi"], "political_affiliation": "Liberal", "favorite_food": "Pav Bhaji", "favorite_color": "Purple"},
    {"name": "Isabella", "age": 26, "gender": "Female", "occupation": "Graphic Designer", "city": "Milan", "education": "Bachelor's Degree", "income": 65000, "marital_status": "Single", "children": 0, "pets": "Cat", "hobbies": ["Drawing", "Traveling"], "height": 165, "weight": 60, "ethnicity": "Caucasian", "religion": "Atheist", "nationality": "Italian", "languages": ["Italian", "English"], "political_affiliation": "Liberal", "favorite_food": "Pizza", "favorite_color": "Blue"},
    {"name": "Kaito", "age": 30, "gender": "Male", "occupation": "Musician", "city": "Tokyo", "education": "High School", "income": 60000, "marital_status": "Single", "children": 0, "pets": "Dog", "hobbies": ["Playing Guitar", "Travelling"], "height": 175, "weight": 70, "ethnicity": "Asian", "religion": "Buddhism", "nationality": "Japanese", "languages": ["Japanese", "English"], "political_affiliation": "Liberal", "favorite_food": "Sushi", "favorite_color": "Black"},
    {"name": "Olga", "age": 40, "gender": "Female", "occupation": "Teacher", "city": "Moscow", "education": "Master's Degree", "income": 70000, "marital_status": "Divorced", "children": 1, "pets": "Dog", "hobbies": ["Yoga", "Reading"], "height": 170, "weight": 65, "ethnicity": "Caucasian", "religion": "Orthodox Christianity", "nationality": "Russian", "languages": ["Russian", "English"], "political_affiliation": "Conservative", "favorite_food": "Borscht", "favorite_color": "Red"},
    {"name": "Javier", "age": 28, "gender": "Male", "occupation": "Engineer", "city": "Madrid", "education": "Bachelor's Degree", "income": 80000, "marital_status": "Married", "children": 1, "pets": "Cat", "hobbies": ["Football", "Photography"], "height": 180, "weight": 80, "ethnicity": "Hispanic", "religion": "Catholicism", "nationality": "Spanish", "languages": ["Spanish", "English"], "political_affiliation": "Conservative", "favorite_food": "Tapas", "favorite_color": "Yellow"}
]

# Convert to a dictionary
df = pd.DataFrame(data)

In [17]:
# A function that reads the dataset and outputs just the values associated with a specific key 

def get_values(data, key):
    values = data[key]
    return values

# Test and call function

occupation = get_values(df, 'occupation')

print(occupation)

0              Engineer
1                Doctor
2     Software Engineer
3             Architect
4                Lawyer
5               Student
6             Professor
7          Entrepreneur
8              Engineer
9              Designer
10                Nurse
11           Accountant
12              Teacher
13                 Chef
14     Business Analyst
15    Marketing Manager
16    Financial Analyst
17           Journalist
18               Doctor
19    Software Engineer
20     Graphic Designer
21             Musician
22              Teacher
23             Engineer
Name: occupation, dtype: object

In [24]:
# Create a frequency table for each value

def grouped_column(data, column_name):
    crosstab = data[column_name].value_counts()
    return crosstab

# Test and call function

occupation_tab = grouped_column(df, 'occupation')

print(occupation_tab)

# Test and call function

city_tab = grouped_column(df, 'city')

print(city_tab)

occupation
Engineer             3
Teacher              2
Software Engineer    2
Doctor               2
Graphic Designer     1
Journalist           1
Financial Analyst    1
Marketing Manager    1
Business Analyst     1
Chef                 1
Nurse                1
Accountant           1
Designer             1
Entrepreneur         1
Professor            1
Student              1
Lawyer               1
Architect            1
Musician             1
Name: count, dtype: int64
city
Tokyo          3
Madrid         3
New York       2
Dubai          2
London         2
Bangalore      2
Los Angeles    1
Barcelona      1
Mumbai         1
Paris          1
Mexico City    1
Rome           1
Shanghai       1
Cairo          1
Milan          1
Moscow         1
Name: count, dtype: int64

In [38]:
# Filter the data by specific age ranges and return the individual's name

def age_filter(data, age_min, age_max):
    age_filtered_data = data[(data['age'] >= age_min) & (data['age'] <= age_max)]
    return age_filtered_data[['name', 'age']]

# Test and call function

under_30s = age_filter(df, 0, 29)

print(under_30s.head())

thirty_and_over = age_filter(df, 30, df['age'].max())

# print(df['age'].max())

print(thirty_and_over.head())

      name  age
1    Alice   25
3    Sofia   28
5    Aisha   22
9   Miguel   29
10  Sakura   27
       name  age
0      John   30
2  Mohammed   35
4     David   40
6     Nadia   45
7       Ali   33